$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

$gutter: 30px;

$color-black: #000;
$color-white: #FFF;
$color-text: #353535;

$color-main: #D2286F;

$color-grey1: #CCC;
$color-grey2: #464646;
$color-grey3: #C1C1C1;

$bg-main: #070808;