$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1560px
);

$gutter: 30px;

$color-black: #000;
$color-white: #FFF;
$color-text: #353535;

$color-main: #D2286F;

$color-grey1: #CCC;
$color-grey2: #464646;
$color-grey3: #C1C1C1;
$color-grey4: #787878;
$color-grey5: #FAF9F9;
$color-grey6: #EFEEEE;
$color-grey7: #687173;

$bg-main: #070808;

$opacity1: rgba(70, 70, 70, .25);
$opacity2: rgba(255, 255, 255, .15);

$transparent: rgba(0, 0, 0, 0);
$transparent-black: rgba(0, 0, 0, .9);