.catalog-section-links {
    margin: 0 0 45px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    &__item {
        width: 18%;
        padding: 0 10px;
        max-width: 270px;
        margin: 0 0 20px;

        &_long {
            max-width: 465px;
            width: 32%;
        }
    }
    &__link {
        height: 65px;
        background-color: $color-grey5;
        color: $color-black;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;

        &:hover,
        &_active {
            background-color: $color-text;
            color: $color-white;
        }
    }
}