.product-page-block1 {
    position: relative;
    background: $color-white url(../img/product-page-block1/bg.png) no-repeat 0 calc(100% - 35px);

    &__point {

        &-one {
            top: 192px;
            margin: 0 0 0 -539px;
        }
        &-two {
            top: 614px;
            margin: 0 0 0 -848px;
        }
        &-three {
            top: 463px;
            margin: 0 0 0 838px;
        }
        &-four {
            bottom: 0;
            margin: 0 0 0 -5px;
        }
    }

    &__inner {
        padding: 100px 0 85px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        padding: 0 0 0 106px;
        position: relative;
    }
    &__d {
        width: 395px;
        height: 448px;
    }
    &__title {
        color: $color-black;
        font-size: 45px;
        font-weight: 600;
        letter-spacing: 4.5px;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }
    &__right {
        width: 910px;
    }
    &__slider {
        margin: 0 0 60px;
    }
    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name {
        position: relative;
        width: calc(100% - 390px);
        color: $bg-main;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        padding: 0 0 10px;

        &:after {
            content: "";
            height: 2px;
            width: 23px;
            background-color: $color-main;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__str {
        left: 0;
        right: auto;
    }

    @include media-breakpoint-up(xl)
    {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(50% - 533px);
            width: 956px;
            background-color: $color-grey5;
        }
        &__prev,
        &__next {
            background-color: $color-grey5;
        }
    }
    @include media-breakpoint-only(xl)
    {
        &__left {
            padding: 0 0 0 50px;
        }
        &__d {
            width: 300px;
        }
        &__title {
            font-size: 30px;
        }
        &__right {
            max-width: calc(100% - 400px);
        }
    }
    @include media-breakpoint-between(md, lg)
    {
        &__inner {
            padding: 0 0 50px;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
        }
        &__left {
            padding: 0;
            position: relative;
        }
        &__d {
            display: none;
        }
        &__title {
            position: static;
            transform: none;
            margin: 0 0 40px;
            font-size: 26px;
        }
        &__right {
            width: 100%;
        }
    }
    @include media-breakpoint-only(md)
    {
        &__name {
            width: calc(100% - 290px);
        }
    }
    @include media-breakpoint-down(sm)
    {
        & {
            background: $color-white;
        }
        &__inner {
            padding: 0 0 55px;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
        }
        &__left {
            padding: 0;
            position: relative;
        }
        &__d {
            display: none;
        }
        &__title {
            position: static;
            transform: none;
            margin: 0 0 40px;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 2px;
            max-width: 270px;
        }
        &__right {
            width: 100%;
        }
        &__slider {
            margin: 0 -15px 30px;
        }
        &__name {
            width: 100%;
            font-size: 12px;
            letter-spacing: 1.8px;
        }
        &__btn {
            display: none;
        }
        &__str {
            top: 0;
            bottom: auto;
        }
    }
}