.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 50;
    max-width: 2000px;
    margin: auto;

    &__left {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 0;

        &-white {
            display: none;
        }

        .header-main_reverse &-white {
            display: block;
        }
        .header-main_reverse &-black {
            display: none;
        }
    }
    &__menu {
        margin: 0 0 0 90px;
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__phone {
        font-weight: 600;
        letter-spacing: 1.8px;
        color: $color-black;
        display: flex;
        align-items: center;

        .header-main_reverse & {
            color: $color-white;
        }

        &-str {
            fill: $color-main;
            width: 15px;
            height: 8px;
            margin: 0 0 0 15px;
        }
    }
    &__search {
        margin: 0 0 0 45px;
    }
    &__lang {
        margin: 0 0 0 30px;
    }
    &__links {
        margin: 0 0 0 35px;
    }
    &__menu-btn {
        margin: 0 0 0 45px;
    }

    @include media-breakpoint-down(xl)
	{
        &__phone {
            display: none;
        }
        &__search {
            margin: 0;
        }
    }
    @include media-breakpoint-down(lg)
	{
        &__search {
            display: none;
        }
    }
    @include media-breakpoint-down(md)
	{
        &__menu,
        &__lang {
            display: none;
        }
    }
    @include media-breakpoint-down(sm)
	{
        & {
            border-bottom: 1px solid $color-grey6;
            top: -70px;
            padding: 0 15px;
            height: 70px;

            &_reverse {
                border-color: $opacity2;
            }
            &__logo {
                width: 100px;
            }
        }
    }
}

.menu-top {
    margin: 0 -55px 0 0;

    &__link {
        color: $color-black;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        margin: 0 55px 0 0;
        position: relative;

        .header-main_reverse & {
            color: $color-white;
        }

        &::before {
            content: '';
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: $color-main;
            position: absolute;
            top: 50%;
            left: -20px;
            margin: -2px 0 0;
        }
    }
}

.search-btn {
    fill: $color-main;

    &:hover {
        fill: $color-white;
    }
    &__icon {
        height: 24px;
        width: 24px;
    }
}

.lang-link {
    color: $color-black;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.4px;
    text-transform: uppercase;

    .header-main_reverse & {
        color: $color-white;
    }
}

.header-links {
    display: flex;
    align-items: center;

    &__link {
        width: 50px;
        height: 50px;
        background-color: #E0E0E0;
        fill: $color-black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 8px;

        &_user {
            fill: none;
            stroke: $color-black;
        }

        .header-main_reverse & {
            background-color: $opacity1;
            fill: $color-white;

            &_user {
                fill: none;
                stroke: $color-white;
            }
        }

        &:hover {
            background-color: $color-main;
        }
    }
    &__icon {
        height: 15px;
        width: 15px;
    }
    &__count {
        width: 24px;
        height: 24px;
        background-color: $color-main;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: 11px;
        font-weight: 600; 
        position: absolute;
        top: 0;
        right: 0;
        margin: -4px -10px 0 0;
    }

    @include media-breakpoint-down(sm)
	{
        & {
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            justify-content: center;
            padding: 20px 0;
        }
    }
}

.menu-btn {
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
    width: 26px;
    height: 22px;
    display: flex;
    position: relative;

    .header-main_reverse & {
        border-top: 2px solid $color-white;
        border-bottom: 2px solid $color-white;
    }

    &:hover {
        border-color: $color-main;
    }
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 20px;
        right: 0;
        transform: translate(0, -1px);
        background-color: $color-main;
        height: 2px;
    }
}