.index-review {
    position: relative;

    &__point {

        &-one {
            bottom: 240px;
            margin: 0 0 0 -848px;
        }
        &-two {
            bottom: 68px;
            margin: 0 0 0 -5px;
        }
        &-three {
            top: 88px;
            margin: 0 0 0 529px;
        }
    }

    &__inner {
        padding: 130px 50px 140px;
        max-width: 1630px;
        margin: auto;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 90px;
    }
    &__left {
        width: 500px;
    }
    &__slider {
        max-width: 1330px;
        margin: 0 auto 105px;
    }
    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__pict {
        max-width: 290px;
        max-height: 290px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 0 43px;
    }
    &__name {
        color: $bg-main;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2.4px;
        text-transform: uppercase; 
        margin: 0 0 4px;
    }
    &__city {
        color: $color-grey4;
        font-size: 16px;
    }
    &__q {
        width: 27px;
        height: 18px;
        fill: $color-main;
        margin: 20px 0;
    }
    &__text {
        font-size: 16px;
    }

    @include media-breakpoint-down(md)
	{
        &__left {
            width: 250px;
        }
    }
    @include media-breakpoint-down(sm)
	{
        &__inner {
            padding: 80px 15px 60px;
        }
    }
    @include media-breakpoint-only(xs)
	{
        &__header {
            flex-direction: column;
            margin: 0 0 25px;
        }
        &__left {
            margin: 0 0 30px;
        }
        &__slider {
            margin: 0 auto 50px;
        }
        &__pict {
            max-width: 224px;
            max-height: 224px;
            margin: 0 0 30px;
        }
        &__name {
            font-size: 14px;
            letter-spacing: 2.1px;
            margin: 0;
        }
        &__city {
            font-size: 13px;
        }
        &__q {
            width: 21px;
            height: 14px;
            margin: 10px 0 15px;
        }
        &__text {
            font-size: 13px;
        }
    }
}

.slider-scrollbar-str {
    display: flex;
    align-items: center;
    justify-content: center;

    &__str {
        fill: $bg-main;

        &_disabled {
            opacity: .3;
            cursor: default;
        }
        &:not(&_disabled):hover {
            fill: $color-main;
        }
    }
    &__icon {
        height: 10px;
        width: 20px;

        &_prev {
            transform: rotate(180deg);
        }
    }
    &__scrollbar {
        width: 290px;
        margin: 0 30px;
    }
}

.slider-scrollbar {
    background-color: $color-grey3;
    height: 1px;
    position: relative;

    &__drag {
        height: 2px;
        background-color: $bg-main;
        position: absolute;
        bottom: 0px;
    }
}