.index-about {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: calc(50% + 534px);
        background-color: $color-grey5;
    }

    &__point {

        &-one {
            bottom: 240px;
            margin: 0 0 0 -848px;
        }
        &-two {
            top: 157px;
            margin: 0 0 0 -538px;
        }
        &-three {
            top: 88px;
            margin: 0 0 0 530px;
        }
        &-four {
            bottom: 67px;
            margin: 0 0 0 -5px;
        }
    }

    &__header {
        display: flex;
        padding: 165px 50px 50px;
        max-width: 1630px;
        margin: auto;
        position: relative;
        justify-content: space-between;
        z-index: 1;
    }
    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 300px;
        margin: 0 0 0 340px;
    }
    &__logo {
        display: block;
        margin: 0 0 30px;
    }
    &__inner {
        position: relative;
        max-width: 1790px;
        margin: auto;
        padding: 0 50px 150px;
    }
    &__d {
        position: absolute;
        top: -25px;
        left: 53px;
    }
    &__items {
        margin: 0 0 0 auto;
        max-width: 1095px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }
    &__item {
        width: calc(33.3% - 40px);
    }
    &__img {
        display: block;
        margin: 0 0 50px;
    }

    @include media-breakpoint-between(lg, xl)
	{
        &__left {
            margin: 0;
        }
    }
    @include media-breakpoint-down(md)
	{
        &::before {
            right: 50%;
        }
        &__header {
            padding: 165px 35px 50px;
        }
        &__left {
            margin: 0;
        }
        &__inner {
            padding: 0 35px 150px;
        }
        &__d {
            display: none;
        }
        &__item {
            width: calc(33.3% - 20px);
        }
        &__img {
            margin: 0 0 20px;
        }
        &__text {
            font-size: 14px;
        }
    }
    @include media-breakpoint-down(sm)
	{
        &__header {
            padding: 60px 30px 35px;
            flex-direction: column;
            text-align: center;
        }
        &__left {
            align-items: center;
            font-size: 14px;
            width: 250px;
            margin: 0 auto 25px;
        }
        &__logo {
            width: 160px;
            margin: 0 0 15px;
        }
        &__inner {
            padding: 0 0 55px;
            width: 100%;
            overflow-y: scroll;
        }
        &__items {
            width: 785px;
            padding: 0 15px;
        }
        &__item {
            width: 237px;
        }
    }
}