.catalog-parts {

    @include media-breakpoint-up(xl)
	{
        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__filter {
            width: 342px;
        }
        &__list {
            width: calc(100% - 400px);
            max-width: 1070px;
        }
    }
}