.catalog-element-info {
    position: relative;
    background-color: $color-white;
    padding: 100px 0 0;

    &__point {

        &-one {
            top: 730px;
            margin: 0 0 0 -848px;
        }
        &-two {
            top: 570px;
            margin: 0 0 0 838px;
        }
    }

    @include media-breakpoint-up(xl)
    {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(50% + 424px);
            right: 0;
            background-color: $color-grey5;
        }
    }
    @include media-breakpoint-down(lg)
	{
        & {
            padding: 50px 0 0;
        }
    }
}