.color-white {
	color: $color-white;
}

.mb-0 {
    margin-bottom: 0;
}

.question-icon {
    fill: $color-text;

    &:hover {
        fill: $color-main;
    }
    &__icon {
        height: 24px;
        width: 24px;
    }
}