.point-block {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;

    &_z2 {
        z-index: 2;
    }
    &__point {
        background-color: $color-main;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        left: 50%;
        position: absolute;
    }

    @include media-breakpoint-down(md)
	{
        & {
            display: none;
        }
    }
}