.str-block {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 10;

    &__str {
        height: 85px;
        width: 58px;
        background-color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $bg-main;

        &_prev {
            padding: 0 0 0 25px;
        }
        &_next {
            padding: 0 25px 0 0;
        }
    }
    &_dark &__str {
        background-color: $bg-main;
        fill: $color-white;
    }
    &__str:hover {
        fill: $color-main;
    }
    &__icon {
        width: 20px;
        height: 10px;

        &_prev {
            transform: rotate(180deg);
        }
    }

    &_inner {
        position: static;
    }
    &_inner &__str {
        height: 40px;
        width: 40px;
        padding: 0;
    }

    @include media-breakpoint-up(md)
	{
        &_gray &__str {
            background-color: $color-grey5;
        }
    }
    @include media-breakpoint-down(md)
	{
        &_up {
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
        }
        &__str {
            height: 55px;
            width: 40px;

            &_prev {
                padding: 0 0 0 10px;
            }
            &_next {
                padding: 0 10px 0 0;
            }
        }
        &__icon {
            width: 14px;
            height: 10px;
        }
    }
}