.str-block {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

    &__str {
        height: 85px;
        width: 58px;
        background-color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $bg-main;

        &:hover {
            fill: $color-main;
        }
        &_prev {
            padding: 0 0 0 25px;
        }
        &_next {
            padding: 0 25px 0 0;
        }
    }
    &__icon {
        width: 20px;
        height: 10px;

        &_prev {
            transform: rotate(180deg);
        }
    }
}