@@include("../blocks/modules/main/header.html")

    <!-- bitrix panel here -->

    <!-- Шапка -->
    @@include("../blocks/modules/header/header.html")
    <!-- Шапка -->

    <div class="work-area">

        <!-- bitrix header finish -->

        <!-- Первый блок -->
        @@include("../blocks/modules/index-main/index-main.html")
        <!-- Первый блок -->

        <!-- О нас -->
        @@include("../blocks/modules/index-about/index-about.html")
        <!-- О нас -->

        <!-- Подбор цвета -->
        @@include("../blocks/modules/index-matching/index-matching.html")
        <!-- Подбор цвета -->

        <!-- О краске -->
        @@include("../blocks/modules/index-like/index-like.html")
        <!-- О краске -->

        <!-- Краш-тесты -->
        @@include("../blocks/modules/index-crash/index-crash.html")
        <!-- Краш-тесты -->

        <!-- Каталог покрытий -->
        @@include("../blocks/modules/index-cat/index-cat.html")
        <!-- Каталог покрытий -->

        <!-- Нас выбирают -->
        @@include("../blocks/modules/index-change/index-change.html")
        <!-- Нас выбирают -->

        <!-- Салоны -->
        @@include("../blocks/modules/index-salons/index-salons.html")
        <!-- Салоны -->

        <!-- Отзывы -->
        @@include("../blocks/modules/index-review/index-review.html")
        <!-- Отзывы -->

        <!-- bitrix footer start -->

        <!-- Остались вопросы -->
        @@include("../blocks/modules/index-question/index-question.html")
        <!-- Остались вопросы -->

    </div>

    <!-- Подвал -->
    @@include("../blocks/modules/footer/footer.html")
    <!-- Подвал -->

    <!-- Левая полоса -->
    @@include("../blocks/modules/nav-index-line/nav-index-line.html")
    <!-- Левая полоса -->

@@include("../blocks/modules/main/footer.html")