.catalog-element {
    margin: -3.5rem 0 0;

    &__desc {
        color: $color-black;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        margin: 0 0 25px;
    }
    &__top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 50px;

        &-item {
            display: flex;
            align-items: center;
            margin: 0 60px 0 0;

            &_last {
                margin: 0;
            }
        }
        &-label {
            color: $color-grey4;
            margin: 0 10px 0 0;
        }
        &-value {
            color: $color-black;
            font-weight: 600;
            letter-spacing: 0.9px; 
        }
    }
    &__status {
        position: relative;
        padding: 0 0 0 20px;

        &::before {
            content: "";
            height: 6px;
            width: 6px;
            background-color: $color-black;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            margin: -3px 0 0;
            left: 0;
        }
        &_in-stock {
            color: $color-green;

            &::before {
                background-color: $color-green;
            }
        }
        &_out-stock {
            color: $color-main;

            &::before {
                background-color: $color-main;
            }
        }
    }
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__left {
        width: calc(100% - 765px);
    }
    &__picts {
        max-width: 765px;
        position: relative;
    }
    &__pict {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__pict-small {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__center {
        width: 325px;
    }
    &-scale {
        margin: 0 0 55px;

        &__title {
            color: $color-text;
            font-size: 16px;
            font-weight: 600;
            margin: 0 0 15px;
        }
        &__items {
            display: inline-flex;
            border: 1px solid $color-grey8;
            border-right: none;
        }
        &__item {
            width: 40px;
            height: 40px;
            border-right: 1px solid $color-grey8;
            position: relative;

            &_active {
                background-color: $color-grey8;

                &-dark {
                    background-color: $color-text;
                }
            }
        }
        &__text {
            color: $color-grey7;
            font-size: 12px;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &-prime {

        &__title {
            color: $color-black;
            font-weight: 600;
            line-height: 140%;
            margin: 0 0 30px;
        }
        &__items {
            list-style: none;
        }
        &__item {
            font-size: 16px;
            margin: 0 0 35px;
            padding: 0 0 0 18px;
            position: relative;

            &::before {
                content: "";
                border-radius: 50%;
                height: 4px;
                width: 4px;
                background-color: $color-main;
                position: absolute;
                top: 10px;
                left: 0;
            }
        }
    }
    &__right {
        width: 342px;
    }
    &-consumption {
        margin: 0 0 30px;

        &__title {
            display: flex;
            align-items: center;
            margin: 0 0 25px;
            font-size: 16px;

            &-label {
                color: $color-grey7;
            }
            &-value {
                color: $color-text;
                font-weight: 600;
                margin: 0 15px 0 10px;
            }
        }
        &__body {
            display: none;
            padding: 20px 0 0;
        }
        &__form {
            margin: 0 0 25px;
        }
        &__inner {
            display: flex;
        }
        &__input {
            width: calc(100% - 170px);
        }
        &__btn {
            width: 170px;
        }
        &__info {
            font-size: 14px;
            line-height: 125%;

            &-label {
                color: $color-text;
            }
            &-value {
                color: $color-main;
                font-weight: 600;
            }
        }
    }
    &-color {
        margin: 0 0 30px;

        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__left {
            width: 115px;
        }
        &__change {
            background-color: $color-main;
            color: $color-white;
            text-align: center;
            font-size: 13px;
            font-weight: 600;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        &__right {
            width: calc(100% - 140px);
        }
        &__body {
            padding: 7px 0 0;
            display: none;
        }
        &__info {
            color: $color-text;
            font-size: 14px;
            margin: 25px 0 15px;
        }
    }
    &-props {
        margin: 0 0 25px;

        &__title {
            color: $color-text;
            font-size: 16px;
            font-weight: 600;
            margin: 0 0 15px;
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
        }
        &__item {
            color: $color-grey7;
            font-size: 14px;
            background-color: $color-grey5;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            padding: 0 19px;
            min-width: 60px;
            margin: 0 5px 10px;
        }
        &__item:hover,
        &__item_active {
            background-color: $color-text;
            color: $color-white;
        }
    }
    &-price {
        margin: 0 0 30px;

        &__label {
            color: $color-grey7;
            font-size: 16px;
        }
        &__value {
            color: $color-main;
            font-size: 30px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 1.5px; 

            &-from {
                font-size: 24px;
                letter-spacing: 1.2px;
            }
        }
    }
    &-action {

        &__top {
            margin: 0 0 35px;
            display: flex;
            justify-content: space-between;
        }
        &__left {
            width: calc(100% - 100px);
        }
    }

    @include media-breakpoint-only(xl)
	{
        &__pict-small {
            width: 13vw;
        }
    }
    @include media-breakpoint-only(lg)
	{
        &__main {
            justify-content: flex-start;
        }
        &__left {
            width: 100%;
            margin: 0 0 40px;
        }
        &__center {
            margin: 0 30px 0 0;
        }
    }
    @include media-breakpoint-only(md)
	{
        &__left {
            width: 100%;
            margin: 0 0 40px;
        }
        &__center,
        &__right {
            width: 49%;
        }
        &-props__item {
            padding: 0 15px;
            min-width: 58px;
        }
    }
    @include media-breakpoint-down(sm)
	{
        & {
            margin: -1rem 0 0;
        }
        &__desc {
            font-size: 13px;
            line-height: 130%;
        }
        &__top {
            font-size: 13px;

            &-item {
                margin: 0 30px 5px 0;

                &_last {
                    margin: 0;
                }
            }
            &-label {
                margin: 0 5px 0 0;
            }
            &-value {
                letter-spacing: .65px;
            }
        }
        &__left {
            width: 100%;
            margin: 0 0 40px;
        }
        &__pict-small {
            width: 150px;
        }
        &__center {
            width: 100%;
        }
        &-scale {
            margin: 0 0 50px;

            &__title {
                font-size: 14px;
            }
        }
        &-prime {
            display: none;
        }
        &__right {
            width: 100%;
        }
        &-consumption {
            margin: 0 0 30px;
    
            &__title {
                font-size: 14px;
            }
            &__inner {
                flex-direction: column;
            }
            &__input,
            &__btn {
                width: 100%;
            }           
        }
        &-color {

            &__change {
                font-size: 11px;
                height: 60px;
            }
            &__right {
                width: calc(100% - 125px);
            }
        }
        &-props {

            &__title {
                font-size: 14px;
            }
            &__items {
                margin: 0 -3px;
            }
            &__item {
                font-size: 13px;
                height: 50px;
                padding: 0 15px;
                min-width: 50px;
                margin: 0 3px 6px;
            }
        }
        &-price {

            &__label {
                font-size: 12px;
            }
            &__value,
            &__value-from {
                font-size: 20px;
            }
        }
        &-action {

            &__top {
                margin: 0 0 20px;
            }
            &__left {
                width: calc(100% - 90px);
            }
        }
    }
}